body{
    margin: 0px;
}
body.active{
    overflow-y: hidden;
}
:root{
    --mdc-theme-primary: #ff0004;
}
.mdc-top-app-bar{
    background-color: var(--mdc-theme-primary);
}
.mdc-list-item img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.mdc-image-list--masonry{
    column-count: 2;
}
.mdc-image-list__item{
    margin-bottom: 1em;
}
.hidden{
    display: none;
}
.sheet {
    position: absolute; 
    top: 0;
    width: 100vw;
    margin-left: 0;
    background-color: #2e2e2e; transition: 0.3s ease;
}
.relative{
    position: relative;
}
.sheet-out-of-view {
    margin-left: -100%;
}
.sheet main {
    min-height: calc(100vh - 56px - 48px);
}
.sheet img {
    width: 100%;
    height: auto;
}
footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: var(--mdc-theme-primary);
}
footer .mdc-tab__icon {
    color: white !important;
}